/* adjust path as needed */
//@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';

html, body {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;

    ::-moz-selection {
        background: #efefef;
    }
    ::selection {
        background: #efefef;
    }
}

a {
    text-decoration: none;

    &:hover, &:focus, &:active {
        outline: none;
        text-decoration: none;
    }
}

figure {
    position: relative;
    margin: 0;
    padding: 0;

    &.full {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.full {
    width: 100%;
    height: 100%;
}

.pof {
    position: fixed;
}